<template>
    <div class="wone-main-container">
        <section class="board-out-box">
            <div class="board-title">
                <p class="board-title-text">이용방법</p>
                <el-input class="board-search-bar"
                          placeholder=""
                          prefix-icon="el-icon-search"
                          v-model="search">
                </el-input>
            </div>
            <div class="board-inner-box">
                <div class="board-ask-table">
                    <el-table
                        :data="guideData"
                        style="width: 100%"
                        >
                        <el-table-column
                            property="blank"
                            label=""
                            width="10">
                        </el-table-column>
                        <el-table-column
                            property="id"
                            label="No."
                            width="60">
                        </el-table-column>
                        <el-table-column
                            property="boardTitle"
                            label="제목"
                            width="260">
                        </el-table-column>
                        <el-table-column class="board-contents-text"
                            property="boardContent"
                            label="안내"
                            width="600"
                        >
                        </el-table-column>
                        <el-table-column
                            property="Operations"
                            label="">
                            <template slot-scope="scope">
                                <el-button
                                    class="board-update-button"
                                    @click.native.prevent="putDocument(guideData[scope.$index].id)"><i class="board-ok-text">수정</i></el-button>
                                <el-button
                                    class="board-update-button"
                                    @click.native.prevent="delGuideData(guideData[scope.$index].id)"><i class="board-update-button-text">삭제</i></el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                <div class="pagination">
                    <div></div>
                    <el-pagination class="notice-page-number"
                                   small
                                   layout="prev, pager, next"
                                   :total="totalCount"
                                   :current-page="currentPage"
                                   @current-change="setPage">
                    </el-pagination>
                    <div class="board-notice-button">
                        <el-button class="board-ok-button" @click="setDocument"><i class="board-ok-text">등록</i></el-button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    asyncData({ params }) {
        return {
            boardType : params.boardType
        }
    },
    data() {
        return {
            search:'',
            guideData: [],
            currentPage: 1,
            totalCount: 0,
        }
    },
    methods: {
        setPage(currentPage) {
            this.currentPage = currentPage
            this.getGuideList()
        },
        getGuideList () {
            let payload = {
                pageNum: this.currentPage,
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$boardConstants.DO_GUIDE_LIST_PAGING, payload)
                .then((res) => {
                    this.guideData = res.data.list
                    this.totalCount = res.data.totalCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        setDocument() {
            this.$confirm('새 글을 등록하시겠습니까?', {
                confirmButtonText: 'Ok',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$router.push('/board/guide/board-guide-register');
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        },
        putDocument(documentId) {
            let linkBaseUrl = '/board/guide/edit/'
            this.$router.push(`${linkBaseUrl}${documentId}`)
        },
        handleEdit(index, row) {
            console.log(index, 1);
        },
        delGuideData(id) {
            if (confirm('정말 삭제하시겠습니까?')) { // javascript confirm 검색하기
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$boardConstants.DO_DELETE, {id: id})
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        this.getGuideList()
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },
    },
    created() {
        this.getGuideList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD_GUIDE')
    }
}
</script>
