<template>
    <div class="wone-main-container">
        <section class="board-contents-register" v-if="detailInfo != null">
            <div>{{ detailInfo.id }} 수정</div>
            <div class="board-contents-register-title">게시판 선택</div>
                <el-form
                    :model="noticeForm"
                    :rules="rules"
                    ref="noticeForm">
                    <el-select v-model="noticeForm.boardType" placeholder="[게시판 선택]" disabled="">
                        <el-option
                            v-for="item in noticeForm.boardType"
                            :key="item.value"
                            :label="item.label"
                            :property="item.prop"
                            :value="item.value">
                        </el-option>
                    </el-select>
                    <div class="board-title">글 제목</div>
                    <el-input class="contents-input-box"
                              type="text"
                              id="boardTitle"
                              prop="boardTitle"
                              :rows="1"
                              v-model="noticeForm.boardTitle"
                              maxlength="40"
                              show-word-limit
                    >
                    </el-input>
                    <div class="board-title">글 내용</div>
                    <el-input class="contents-input-box"
                              type="textarea"
                              id="boardContent"
                              prop="boardContent"
                              :rows="17"
                              placeholder="내용을 입력해주세요."
                              v-model="noticeForm.boardContent">
                    </el-input>
                </el-form>
            <div class="board-contents-register-button">
                <el-button class="board-contents-register-button"
                           @click="doPutData()"><i class="board-contents-register-text">등록</i></el-button>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    validate({ params }) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return{
            id: null,
            detailInfo: null,
            noticeForm:{
                boardType: [
                    {
                    value: 'NOTICE',
                    label: '공지사항',
                    prop: 'NOTICE',
                }, {
                    value: 'GUIDE',
                    label: '이용방법',
                    prop: 'GUIDE',
                }
                ],
                boardTitle: '',
                boardContent: '',
            },
            rules: {
                boardTitle: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:2, max:40, message:'2~40자 내로 입력해주세요.', trigger: 'blur'}
                ],
                boardContent: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
            }
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$boardConstants.DO_BOARD_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.noticeForm.boardTitle = res.data.data.boardTitle
                    this.noticeForm.boardContent = res.data.data.boardContent
                    this.noticeForm.boardType = res.data.data.boardType
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    console.log(res.data)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        doPutData() {
            let formName = 'noticeForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.putData()
                } else {
                    return false
                }
            })
        },
        putData() {
            let payload = {
                id : this.detailInfo.id,
                data: {
                    boardType: this.noticeForm.boardType,
                    boardTitle: this.noticeForm.boardTitle,
                    boardContent: this.noticeForm.boardContent,
                }
            }

            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$boardConstants.DO_BOARD_UPDATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/board/notice/board-notice`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD_NOTICE')
    }
}
</script>
