div.sq-error-frame {
    height: 100vh;
    background-color: #f9f9f9;
}
div.sq-error-frame div.contents {
    padding-top: calc(50vh - 110px);
}


div.sq-login-frame {
    height: 100vh;
    background-color: #f9f9f9;
}

/* 기본 레이아웃 s */
div.wone-global-wrap {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    overflow-y: auto;
}
.wone-menu-wrap {
    width: 230px;
    height: 1400px;
    background-color: #ededed;
}
.logout {
    position: fixed;
    bottom: 60px;
    left: 80px;
    color: #bebebe;
    font-size: 14px;
    font-weight: 700;
}

section.wone-menu-box {
    margin-top: 20px;
}

section.wone-menu-box > div.depth1-info {
    margin: 20px 20px 0 25px;
}
section.wone-menu-box > div.depth1-info > div.in-title {
    padding-left: 20px;
    margin-bottom: 10px;
    color: #3498db;
    font-weight: 700;
    font-size: 18px;
}
section.wone-menu-box > div.depth1-info > div.in-title i:nth-child(1) {
    margin-right: 5px;
    font-size: 25px;
}
div.wone-menu-wrap div.wone-people-info-wrap {
    display: flex;
    border-bottom: #c8c8c8 1px solid;
}
div.wone-people-info-wrap > div.in-logo {
    width: 50px;
    height: 50px;
    padding: 20px;
}
div.wone-people-info-wrap > div.in-logo img {
    width: 75px;
    height: 50px;
}
div.wone-people-info-wrap > div.in-info {
    padding: 20px 0 0 20px;
    color: #9e9e9e;
    font-size: 14px;
    line-height: 1.5;
}
div.wone-people-info-wrap > div.in-info strong {
    font-weight: 700;
}
div.wone-people-info-wrap > div.in-info span {
    color: #3498db;
    font-size: 18px;
}
div.wone-menu-wrap > div.wone-menu-box {
    margin: 0 20px 0 40px;
}

div.wone-menu-wrap > div.wone-menu-box div.depth1-info {
    padding-top: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #3498db;
}

.depth2-info {
    font-size: 14px;
    line-height: 2.5;
    width: 200px;
    position: relative;
    color: #9e9e9e;
    margin: 0px 0px 5px 10px;
    display: flex;
    align-items: center;
}

.depth2-info > i {
    font-size: 22px;
    margin: 0 10px 0 10px;
}

.depth2-info:hover{
    width: 197px;
    height: 67px;
    background-image: url('static/assets/images/menu-hover/admin_menu_hover_bg_img.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
}

.depth2-info:hover a{
    color: #3498db;
    font-weight: bold;
}

.depth2-info:hover i{
    color: #ffffff;
}

div.wone-menu-wrap > div.wone-menu-box div.depth1-info {
    height: 50px;
    padding-top: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #3498db;
}

div.wone-contents-wrap {
    display: flex;
    flex-direction: column;
    padding: 22px 30px;
    line-height: 0.8;
}

div.wone-contents-wrap div.wone-bread-info-wrap div.depth1 {
    color: #9e9e9e;
    font-size: 14px;
}

div.wone-contents-wrap div.wone-bread-info-wrap div.depth2 {
    color: #3498db;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.5px;
}



