<template>
    <div class="wone-main-container">
        <section class="category-out-box">
            <div class="category-title">
                <p class="category">카테고리</p>
                <el-input class="category-search-bar"
                          placeholder=""
                          prefix-icon="el-icon-search"
                          v-model="search">
                </el-input>
            </div>
            <div class="category-inner-box">
                <div class="category-setting">
                    <el-row>
                        <el-col :span="12">
                            <div class="dashboard-category-item">
                                <i class="category-icon-box">
                                    <img src="https://storage.googleapis.com/cdn-wone/01_send_money.png"/>
                                </i>
                                <div class="input-box tag-group">
                                    <p class="category-number">No. 1</p>
                                    <span class="tag-group__title"></span>
                                    <i class="category-input-box">
                                        <el-input disabled placeholder="송금" v-model="cate1"></el-input>
                                    </i>
                                </div>
                            </div>
                        </el-col>
                        <el-col :span="12">
                            <div class="dashboard-category-item">
                                <i class="category-icon-box">
                                    <img src="https://storage.googleapis.com/cdn-wone/02_study.png"/>
                                </i>
                                <div class="input-box">
                                    <p class="category-number">No. 2</p>
                                    <i class="category-input-box">
                                        <el-input disabled placeholder="교육" v-model="cate2"></el-input>
                                    </i>
                                </div>
                            </div>
                        </el-col>
                        <el-col :span="12">
                            <div class="dashboard-category-item">
                                <i class="category-icon-box">
                                    <img src="https://storage.googleapis.com/cdn-wone/03_meal.png"/>
                                </i>
                                <div class="input-box">
                                    <p class="category-number">No. 3</p>
                                    <i class="category-input-box">
                                        <el-input disabled placeholder="식사" v-model="cate3"></el-input>
                                    </i>
                                </div>
                            </div>
                        </el-col>
                        <el-col :span="12">
                            <div class="dashboard-category-item">
                                <i class="category-icon-box">
                                    <img src="https://storage.googleapis.com/cdn-wone/04_cafe.png"/>
                                </i>
                                <div class="input-box">
                                    <p class="category-number">No. 4</p>
                                    <i class="category-input-box">
                                        <el-input disabled placeholder="카페" v-model="cate4"></el-input>
                                    </i>
                                </div>
                            </div>
                        </el-col>
                        <el-col :span="12">
                            <div class="dashboard-category-item">
                                <i class="category-icon-box">
                                    <img src="https://storage.googleapis.com/cdn-wone/05_bus.png"/>
                                </i>
                                <div class="input-box">
                                    <p class="category-number">No. 5</p>
                                    <i class="category-input-box">
                                        <el-input disabled placeholder="버스" v-model="cate5"></el-input>
                                    </i>
                                </div>
                            </div>
                        </el-col>
                        <el-col :span="12">
                            <div class="dashboard-category-item">
                                <i class="category-icon-box">
                                    <img src="https://storage.googleapis.com/cdn-wone/06_shopping.png"/>
                                </i>
                                <div class="input-box">
                                    <p class="category-number">No. 6</p>
                                    <i class="category-input-box">
                                        <el-input disabled placeholder="쇼핑" v-model="cate6"></el-input>
                                    </i>
                                </div>
                            </div>
                        </el-col>
                        <el-col :span="12">
                            <div class="dashboard-category-item">
                                <i class="category-icon-box">
                                    <img src="https://storage.googleapis.com/cdn-wone/07_bill.png"/>
                                </i>
                                <div class="input-box">
                                    <p class="category-number">No. 7</p>
                                    <i class="category-input-box">
                                        <el-input disabled placeholder="공과금" v-model="cate7"></el-input>
                                    </i>
                                </div>
                            </div>
                        </el-col>
                        <el-col :span="12">
                            <div class="dashboard-category-item">
                                <i class="category-icon-box">
                                    <img src="https://storage.googleapis.com/cdn-wone/08_hospital.png"/>
                                </i>
                                <div class="input-box">
                                    <p class="category-number">No. 8</p>
                                    <i class="category-input-box">
                                        <el-input disabled placeholder="의료비" v-model="cate8"></el-input>
                                    </i>
                                </div>
                            </div>
                        </el-col>
                        <el-col :span="12">
                            <div class="dashboard-category-item">
                                <i class="category-icon-box">
                                    <img src="https://storage.googleapis.com/cdn-wone/09_culture.png"/>
                                </i>
                                <div class="input-box">
                                    <p class="category-number">No. 9</p>
                                    <i class="category-input-box">
                                        <el-input disabled placeholder="문화" v-model="cate9"></el-input>
                                    </i>
                                </div>
                            </div>
                        </el-col>
                        <el-col :span="12">
                            <div class="dashboard-category-item">
                                <i class="category-icon-box">
                                    <img src="https://storage.googleapis.com/cdn-wone/10_meeting.png"/>
                                </i>
                                <div class="input-box">
                                    <p class="category-number">No. 10</p>
                                    <i class="category-input-box">
                                        <el-input disabled placeholder="모임" v-model="cate10"></el-input>
                                    </i>
                                </div>
                            </div>
                        </el-col>
                        <el-col :span="12">
                            <div class="dashboard-category-item">
                                <i class="category-icon-box">
                                    <img src="https://storage.googleapis.com/cdn-wone/11_ott.png"/>
                                </i>
                                <div class="input-box">
                                    <p class="category-number">No. 11</p>
                                    <i class="category-input-box">
                                        <el-input disabled placeholder="구독료" v-model="cate11"></el-input>
                                    </i>
                                </div>
                            </div>
                        </el-col>
                        <el-col :span="12">
                            <div class="dashboard-category-item">
                                <i class="category-icon-box">
                                    +
                                </i>
                                <div class="input-box">
                                    <p class="category-number">No. 12</p>
                                    <i class="category-input-box">
                                        <el-input disabled placeholder="" v-model="cate12"></el-input>
                                    </i>
                                </div>
                            </div>
                        </el-col>
                    </el-row>
                </div>
            </div>
        </section>
        <section class="message-out-box">
            <div class="message-title">
                <p class="message">알림 메세지</p>
                <el-input class="message-search-bar"
                          placeholder=""
                          prefix-icon="el-icon-search"
                          v-model="search2">
                </el-input>
            </div>
            <div class="message-inner-box">
                <div class="message-box">
                    <div class="message-group-box"><p class="message-group">성공 메세지</p></div>
                    <div class="message-detail">
                        <p class="message-main-text">
                        <el-input placeholder="오늘은 지갑을 지켰어요!" v-model="mes1" disabled>
                            <template slot="prepend">메인 텍스트</template>
                        </el-input>
                        </p>
                        <p class="message-sub-text">
                            <el-input placeholder="to day 챌린지 성공!" v-model="mes2" disabled>
                                <template slot="prepend">서브 텍스트</template>
                            </el-input>
                        </p>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-group-box"><p class="message-group">실패 메세지</p></div>
                    <div class="message-detail">
                        <p class="message-main-text">
                            <el-input placeholder="오늘은 지갑을 지키지 못했어요ㅜㅜ" v-model="mes3" disabled>
                                <template slot="prepend">메인 텍스트</template>
                            </el-input>
                        </p>
                        <p class="message-sub-text">
                            <el-input placeholder="today 챌린지 실패ㅜㅜ" v-model="mes4" disabled>
                                <template slot="prepend">서브 텍스트</template>
                            </el-input>
                        </p>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-group-box"><p class="message-group">임박 메세지</p></div>
                    <div class="message-detail">
                        <p class="message-main-text">
                            <el-input placeholder="오늘의 목표 금액이 얼마 남지 않았어요!" v-model="mes5" disabled>
                                <template slot="prepend">메인 텍스트</template>
                            </el-input>
                        </p>
                        <p class="message-sub-text">
                            <el-input placeholder="목표 금액까지 0,000원 남았어요." v-model="mes6" disabled>
                                <template slot="prepend">서브 텍스트</template>
                            </el-input>
                        </p>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-group-box-plus"><p class="message-group"><el-button type="text" @click="open"> + </el-button></p></div>
                    <div class="message-detail-plus">
                        +
                    </div>
                </div>
            </div>
        </section>
        <div class="service-setting-button">
            <el-button class="service-setting-update-button" @click.native="update"><i class="service-setting-update-button-text">수정</i></el-button>
            <el-button class="service-setting-ok-button" @click="commit"><i class="service-setting-update-ok-text">확인</i></el-button>
        </div>
    </div>
</template>


<script>
import axios from 'axios'
import categoryType from "~/components/layout/category-type.vue";
export default {
    computed: {
        categoryType() {
            return categoryType
        }
    },
    methods: {
        // 알림 메세지 추가 ( + )
        open() {
            this.$prompt('추가할 알림을 작성해주세요.', '알림 추가', {
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
            }).then(({ value }) => {
                this.$message({
                    type: 'success',
                    message: '추가된 알림 메세지:' + value
                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '작성된 내용을 다시 한 번 확인해주세요.'
                });
            });
        },
        // 수정버튼
        update() {
            this.$confirm('수정하시겠습니까?', {
                confirmButtonText: 'Ok',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$router.push('service-setting-change');
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        },
        commit() {
            this.$alert('수정되었습니다.', {
                confirmButtonText: 'OK',
                type: 'info'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: '수정 완료'
                });
            });
        },
    },
    data () {
        return {
            imageUrl: '',
            size: '',
            search:'',
            search2:'',
            cate1: '',
            cate2: '',
            cate3: '',
            cate4: '',
            cate5: '',
            cate6: '',
            cate7: '',
            cate8: '',
            cate9: '',
            cate10: '',
            cate11: '',
            cate12: '',
            mes1: '',
            mes2: '',
            mes3: '',
            mes4: '',
            mes5: '',
            mes6: '',




            // categoryData: [
            //     { id: 1, categoryName: '송금', categoryImgPath: 'assets/images/category/01_turn_over.png'},
            //     { id: 2, categoryName: '송금', categoryImgPath: 'assets/images/category/01_turn_over.png'},
            //     { id: 3, categoryName: '송금', categoryImgPath: 'assets/images/category/01_turn_over.png'},
            //     { id: 4, categoryName: '송금', categoryImgPath: 'assets/images/category/01_turn_over.png'},
            //     { id: 5, categoryName: '송금', categoryImgPath: 'assets/images/category/01_turn_over.png'},
            //     { id: 6, categoryName: '송금', categoryImgPath: 'assets/images/category/01_turn_over.png'},
            //     { id: 7, categoryName: '송금', categoryImgPath: 'assets/images/category/01_turn_over.png'},
            //     { id: 8, categoryName: '송금', categoryImgPath: 'assets/images/category/01_turn_over.png'},
            //     { id: 9, categoryName: '송금', categoryImgPath: 'assets/images/category/01_turn_over.png'},
            //     { id: 10, categoryName: '송금', categoryImgPath: 'assets/images/category/01_turn_over.png'},
            //     { id: 11, categoryName: '송금', categoryImgPath: 'assets/images/category/01_turn_over.png'},
            //     { id: 12, categoryName: '송금', categoryImgPath: 'assets/images/category/01_turn_over.png'},
            // ],
            editable: true,
        };
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'SERVICE_SETTING')
    }
}
</script>
