<template>
    <div class="wone-global-wrap flush-box wone-service-wrap">
        <div class="wone-menu-wrap">
            <!-- left menu top -->
            <div class="wone-people-info-wrap flush-box">
                <div class="in-logo"><img src="https://storage.googleapis.com/cdn-wone/wone_3_logo_gradient.png" alt="logo" /></div>
                <div class="in-info">
                    안녕하세요!<br />
                    <strong>
                        <nuxt-link to="admin-info">
                        <span>
<!--                           {{name}}-->관리자
                        </span>님
                        </nuxt-link>
                    </strong>
                </div>
            </div>
            <AdminSidebarMenu />
        </div> <!-- left menu -->
        <div class="wone-contents-wrap"> <!-- contents -->
            <div class="wone-bread-info-wrap ">
                <div class="depth1 mb-2">미리보기<i class="el-icon-arrow-right"></i></div>
                <div class="depth2 mb-3">{{selectedMenu[0]}}</div>
            </div> <!-- bread menu -->
            <div class="wone-page-wrap">
                <Nuxt />
            </div>
        </div>
    </div>
</template>
<script>
import AdminSidebarMenu from "@/components/layout/admin-sidebar-menu"
export default {
    components: {
        AdminSidebarMenu
    },
    data() {
        return {

        }
    },
    computed: {
        name() { return this.$store.getters[this.$authenticatedConstants.GET_NAME] },
        menuList() {
            return this.$store.getters[this.$menuConstants.GET_MENUS_LIST]
        },
        selectedMenu() {
            return this.$store.getters[this.$menuConstants.GET_SELECTED_MENU]
        },
    },
}
</script>
