<template>
    <div class="wone-main-container">
        <section class="admin-info-out-box" v-if="detailInfo != null">
            <div class="admin-info-title">관리자 정보 설정</div>
            <i class="admin-info-inner-box" :data="detailInfo">
                <div class="admin-info-box">
                    <el-input v-model="detailInfo.username">
                        <template slot="prepend"><i class="name">이름</i></template>
                    </el-input>
                </div>
                <div class="admin-info-box">
                    <el-input placeholder="admin" v-model="detailInfo.userId">>
                        <template slot="prepend"><i class="admin-id">아이디
                        </i></template>
                    </el-input>
                </div>
                <div class="admin-info-box">
                    <el-input placeholder="*********" v-model="detailInfo.password" show-password>
                        <template slot="prepend"><i class="admin-password">비밀번호
                        </i></template>
                    </el-input>
                </div>
                <div class="admin-info-box">
                    <el-input placeholder="admin@gmail.com" v-model="detailInfo.email">
                        <template slot="prepend"><i class="admin-email">이메일
                        </i></template>
                    </el-input>
                </div>
                <div class="admin-info-button">
<!--                    <el-button class="update-button"  @click="update"><i class="update-button-text">수정</i></el-button>-->
                    <el-button class="ok-button" @click="commit"><i class="update-ok-text">저장</i></el-button>
                </div>
            </i>
        </section>
        <section class="footer-info-out-box">
            <div class="footer-info-title">푸터 정보 설정</div>
            <i class="footer-inner-box">
                <div class="footer-info-box">
                    <el-input placeholder="WONE" v-model="companyName">
                        <template slot="prepend"><i class="company-name">회사명</i></template>
                    </el-input>
                </div>
                <div class="footer-info-box">
                    <el-input placeholder="김대표" v-model="bossName">
                        <template slot="prepend"><i class="ceo-name">대표자 이름</i></template>
                    </el-input>
                </div>
                <div class="footer-info-box">
                    <el-input placeholder="031-123-4567" v-model="cellNumber">
                        <template slot="prepend"><i class="call-number">전화번호</i></template>
                    </el-input>
                </div>
                <div class="footer-info-box">
                    <el-input placeholder="경기도 안산시 단원구 고잔동 123" v-model="address">
                        <template slot="prepend"><i class="address">주소</i></template>
                    </el-input>
                </div>
                <div class="footer-info-box">
                    <el-input placeholder="123-45-678" v-model="businessNumber">
                        <template slot="prepend"><i class="business-number">사업자 번호</i></template>
                    </el-input>
                </div>
                <div class="footer-info-box">
                    <el-input placeholder="Copyright(c) WONE All right reserved" v-model="copyright">
                        <template slot="prepend"><i class="copyright">Copyright</i></template>
                    </el-input>
                </div>
                <div class="footer-info-button">
<!--                    <el-button class="update-button"  @click="update"><i class="update-button-text">수정</i></el-button>-->
                    <el-button class="ok-button" @click="commit"><i class="update-ok-text">저장</i></el-button>
                </div>
            </i>
        </section>
    </div>
</template>


<script>
import { ref } from 'vue'
const input = ref('')
export default {
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    data () {
        return {
            detailInfo: {
                username:'',
                userId:'',
                password:'',
                email:'admin@gmail.com',
            },

            size: '',
            input:'',
            companyName:'',
            bossName:'',
            cellNumber:'',
            address:'',
            businessNumber:'',
            copyright:''
        };
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$memberConstants.DO_USER_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data

                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)

                })
        },
        commit() {
            this.$alert('수정되었습니다.', {
                confirmButtonText: 'OK',
                type: 'info'
            }).then(() => {
                this.$router.replace('admin-info')
            });
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'ADMIN_INFO')
    }
}
</script>
