<template>
    <div>
        <div class="wone-page-wrap">
            <section class="dashboard-content">
                <el-row type="flex" class="row-bg" justify="space-between">
                    <el-col :span="8"><!--총 가입자 수-->
                        <div class="dashboard-content-out-box">
                            <p class="content-title">총 가입자 수
                                <i class="total-member-count">20
                                    <i class="people-unit">명</i>
                                </i>
                            </p>
                            <i class="dashboard-content-inner-box">
                                <img src="assets/images/dashboard_total_user.png"
                                     class="temporary-total-user"/>
                            </i>
                        </div>
                    </el-col>
                    <el-col :span="8"><!--사용자 리스트-->
                        <div class="dashboard-content-out-box">
                            <p class="content-title">사용자 리스트
                            </p>
                            <i class="dashboard-content-inner-box">
                                <el-row>
                                    <el-col :span="8">
                                        <p class="user-list-name">admin</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-id">admin1234</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-type">관리자</p>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="8">
                                        <p class="user-list-name">김철수</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-id">kcs1121</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-type">사용자</p>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="8">
                                        <p class="user-list-name">박영희</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-id">pyh1222</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-type">사용자</p>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="8">
                                        <p class="user-list-name">이나리</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-id">lnl0123</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-type">사용자</p>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="8">
                                        <p class="user-list-name">김수빈</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-id">ksb0224</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-type">사용자</p>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="8">
                                        <p class="user-list-name">최민아</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-id">cma0325</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-type">사용자</p>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="8">
                                        <p class="user-list-name">장서현</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-id">jsh0426</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-type">사용자</p>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="8">
                                        <p class="user-list-name">김시우</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-id">ksw0527</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-type">사용자</p>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="8">
                                        <p class="user-list-name">황민우</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-id">hmw0628</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-type">사용자</p>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="8">
                                        <p class="user-list-name">김서아</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-id">ksa0408</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-type">사용자</p>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="8">
                                        <p class="user-list-name">박유미</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-id">pym0515</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-type">사용자</p>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="8">
                                        <p class="user-list-name">함수빈</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-id">hsb0628</p>
                                    </el-col>
                                    <el-col :span="8">
                                        <p class="user-list-type">사용자</p>
                                    </el-col>
                                </el-row>
                            </i>
                        </div>
                    </el-col>
                    <el-col :span="8"><!--+-->
                        <div class="dashboard-content-out-box">
                            <p class="content-title-plus">
                                +
                            </p>
                        </div>
                    </el-col>
                </el-row>
                <el-row type="flex" class="row-bg" justify="space-between">
                    <el-col :span="12"><!--공지사항-->
                        <div class="dashboard-content-out-box">
                            <p class="content-title">공지사항
                            </p>
                            <i class="dashboard-content-inner-box">
                                <el-row>
                                    <el-col :span="14">
                                        <p class="dashboard-notice-title">[ 공지 ] WONE 1.3 정기 업데이트 소식</p>
                                    </el-col>
                                    <el-col :span="10">
                                        <p class="dashboard-notice-date">2024.01.30</p>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="14">
                                        <p class="dashboard-notice-title">[ 공지 ] WONE 1.2 정기 업데이트 소식</p>
                                    </el-col>
                                    <el-col :span="10">
                                        <p class="dashboard-notice-date">2024.01.23</p>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="14">
                                        <p class="dashboard-notice-title">[ 공지 ] WONE 서비스 이용 약관 변경 안내</p>
                                    </el-col>
                                    <el-col :span="10">
                                        <p class="dashboard-notice-date">2024.01.16</p>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="14">
                                        <p class="dashboard-notice-title">[ 공지 ] WONE 1.1 정기 업데이트 소식</p>
                                    </el-col>
                                    <el-col :span="10">
                                        <p class="dashboard-notice-date">2024.01.09</p>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="14">
                                        <p class="dashboard-notice-title">[ 공지 ] WONE 1.0 정기 업데이트 소식</p>
                                    </el-col>
                                    <el-col :span="10">
                                        <p class="dashboard-notice-date">2024.01.02</p>
                                    </el-col>
                                </el-row>
                            </i>
                        </div>
                    </el-col>
                    <el-col :span="12"><!--문의사항-->
                        <div class="dashboard-content-out-box">
                            <p class="content-title">문의사항
                            </p>
                            <i class="dashboard-content-inner-box">
                                <el-row>
                                    <el-col :span="14">
                                        <p class="dashboard-notice-title">[ 문의 ] 카테고리 아이콘 직접 추가가 가능 ···</p>
                                    </el-col>
                                    <el-col :span="10">
                                        <p class="dashboard-notice-date">2024.01.11</p>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="14">
                                        <p class="dashboard-notice-title">[ 문의 ] 소셜 계정으로는 로그인이 불가능 ···</p>
                                    </el-col>
                                    <el-col :span="10">
                                        <p class="dashboard-notice-date">2024.01.08</p>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="14">
                                        <p class="dashboard-notice-title">[ 문의 ] 챌린지 내역을 친구에게 공유하고 ···</p>
                                    </el-col>
                                    <el-col :span="10">
                                        <p class="dashboard-notice-date">2024.01.06</p>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="14">
                                        <p class="dashboard-notice-title">[ 문의 ] 카테고리 아이콘 변경은 불가능한 ···</p>
                                    </el-col>
                                    <el-col :span="10">
                                        <p class="dashboard-notice-date">2024.01.06</p>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="14">
                                        <p class="dashboard-notice-title">[ 공지 ] 카드 설정 후 메인 카드 변경이 안 ···</p>
                                    </el-col>
                                    <el-col :span="10">
                                        <p class="dashboard-notice-date">2024.01.05</p>
                                    </el-col>
                                </el-row>
                            </i>
                        </div>
                    </el-col>
                </el-row>
            </section>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {

        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DASH_BOARD')
    },
}
</script>
