<template>
    <div class="wone-main-container">
        <section class="board-out-box">
            <div class="board-title">
                <p class="board-title-text" >공지사항</p>
                <el-input class="board-search-bar"
                          placeholder=""
                          prefix-icon="el-icon-search"
                          v-model="search">
                </el-input>
            </div>
            <div class="board-inner-box">
                <div class="board-ask-table">
                    <el-table
                        :data="noticeData"
                        style="width: 100%"
                        >
                        <el-table-column
                            property="blank"
                            label=""
                            width="10">
                        </el-table-column>
                        <el-table-column
                            property="id"
                            label="No."
                            width="60">
                        </el-table-column>
                        <el-table-column
                            property="boardCreateDate"
                            label="등록일자"
                            width="120">
                        </el-table-column>
                        <el-table-column
                            property="boardTitle"
                            label="공지제목"
                            width="740">
                        </el-table-column>
                        <el-table-column
                            property="Operations"
                            label="">
                            <template slot-scope="scope">
                                <el-button
                                    class="board-update-button"
                                    @click.native.prevent="putDocument(noticeData[scope.$index].id)"><i class="board-ok-text">수정</i></el-button>
                                <el-button
                                    class="board-update-button"
                                    @click.native.prevent="delNoticeData(noticeData[scope.$index].id)"><i class="board-update-button-text">삭제</i></el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                <div class="pagination">
                    <div>
                    </div>
                    <el-pagination class="notice-page-number"
                                   small
                                   layout="prev, pager, next"
                                   :total="totalCount"
                                   :current-page="currentPage"
                                   @current-change="setPage">
                    </el-pagination>
                    <div class="board-notice-button">
                        <el-button class="board-ok-button" @click="setDocument"><i class="board-ok-text">등록</i></el-button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    // asyncData({ params }) {
    //     return {
    //         boardType : params.boardType
    //     }
    // },
    data() {
        return {
            search:'',
            noticeData: [],
            currentPage: 1,
            totalCount: 0,
        }
    },
    methods: {
        setPage(currentPage) {
            this.currentPage = currentPage
            this.getNoticeList()
        },
        getNoticeList() {
            let payload = {
                pageNum: this.currentPage,
            }
            this.$store.dispatch(this.$boardConstants.DO_NOTICE_LIST_PAGING,payload)
                .then((res) => {
                    this.noticeData = res.data.list
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                })
        },
        setDocument() {
            this.$confirm('새 글을 등록하시겠습니까?', {
                confirmButtonText: 'Ok',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$router.push('/board/notice/board-notice-register');
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        },
        putDocument(documentId) {
            let linkBaseUrl = '/board/notice/edit/'
            this.$router.push(`${linkBaseUrl}${documentId}`)
        },
        handleEdit(index, row) {
            console.log(index, 1);
        },
        delNoticeData(id) {
            this.$confirm('해당 글을 삭제하시겠습니까?', 'Warning', {
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: 'Delete completed'
                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: 'Delete canceled'
                });
            });
            if (confirm('정말 삭제하시겠습니까?')) { // javascript confirm 검색하기
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$boardConstants.DO_BOARD_DELETE, {id: id})
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        this.getNoticeList()
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },
    },
    created() {
        this.getNoticeList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD_NOTICE')
    }
}
</script>
