<template>
    <div class="wone-main-container">
        <section class="board-contents-register">
            <div class="board-contents-register-title">공지사항</div>
                <el-form :model="noticeForm" :rules="rules" ref="noticeForm">
                    <div class="board-title">글 제목</div>
                    <el-input class="contents-input-box"
                              type="text"
                              id="boardTitle"
                              prop="boardTitle"
                              :rows="1"
                              placeholder="제목을 입력해주세요."
                              v-model="noticeForm.boardTitle"
                              maxlength="40"
                              show-word-limit
                    >
                    </el-input>
                    <div class="board-title">글 내용</div>
                    <el-input class="contents-input-box"
                              type="textarea"
                              id="boardContent"
                              prop="boardContent"
                              :rows="17"
                              placeholder="내용을 입력해주세요."
                              v-model="noticeForm.boardContent">
                    </el-input>
                </el-form>
            <div class="board-contents-register-button">
                <el-button class="board-contents-register-button" @click="doSetData()"><i class="board-contents-register-text">등록</i></el-button>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return{
            id: null,
            noticeForm:{
                boardTitle: '',
                boardContent: '',
            },
            rules: {
                boardTitle: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:2, max:40, message:'2~40자 내로 입력해주세요.', trigger: 'blur'}
                ],
                boardContent: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
            }
        }
    },
    methods: {
        doSetData() {
            const formName = 'noticeForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            const payload = {
                boardTitle: this.noticeForm.boardTitle,
                boardContent: this.noticeForm.boardContent
            }
            this.$confirm('등록하시겠습니까?', {
                confirmButtonText: 'Ok',
                cancelButtonText: 'Cancel',
                type: 'warning'
            })
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$boardConstants.DO_NOTICE_CREATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`board-notice`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD_NOTICE')
    }
}
</script>
