<template>
    <div class="wone-main-container" v-if="detailInfo != null" :data="guideData">
        <section class="board-contents-register" >
            <div class="board-contents-register-title">게시판 선택</div>
                <el-form
                    :model="guideData"
                    :rules="rules"
                    ref="guideData">
                    <el-select v-model="guideData.boardType" placeholder="[게시판 선택]" disabled="">
                        <el-option
                            v-for="boardType in guideData.boardType"
                            :key="boardType.value"
                            :label="boardType.label"
                            :value="boardType.value"
                        >
                        </el-option>
                    </el-select>
                    <div class="board-title">글 제목</div>
                    <el-input class="contents-input-box"
                              type="text"
                              :rows="1"
                              v-model="guideData.boardTitle"
                              maxlength="40"
                              show-word-limit
                    >
                    </el-input>
                    <div class="board-title">글 내용</div>
                    <el-input class="contents-input-box"
                              type="textarea"
                              :rows="17"
                              v-model="guideData.boardContent">
                    </el-input>
                </el-form>
            <div class="board-contents-register-button">
                <el-button class="board-contents-register-button" @click="putData"><i class="board-contents-register-text">등록</i></el-button>
            </div>
        </section>
    </div>
</template>

<script>

export default {
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    validate({ params }) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return{
            id: null,
            detailInfo: null,
            guideData:{
                boardType:'',
                boardTitle:'',
                boardContent:'',
            },
            rules: {
                boardTitle: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:2, max:40, message:'2~40자 내로 입력해주세요.', trigger: 'blur'}
                ],
                boardContent: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
            }
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$boardConstants.DO_BOARD_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.guideData.boardType = res.data.data.boardType
                    this.guideData.boardTitle = res.data.data.boardTitle
                    this.guideData.boardContent = res.data.data.boardContent
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    console.log(res.data.data)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        putData() {
            let payload = {
                id : this.detailInfo.id,
                data: {
                    boardType:this.guideData.boardType,
                    boardTitle: this.guideData.boardTitle,
                    boardContent: this.guideData.boardContent,
                }
            }
            console.log(payload);

            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$boardConstants.DO_BOARD_UPDATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/board/guide/board-guide`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD_GUIDE')
    },
}
</script>
