<template>
    <div class="wone-main-container">
        <section class="board-out-box">
            <div class="board-title">
                <p class="board-title-text">문의사항</p>
                <el-input class="board-search-bar"
                          placeholder=""
                          prefix-icon="el-icon-search"
                          v-model="search">
                </el-input>
            </div>
            <div class="board-inner-box">
                <div class="board-ask-table">
                    <el-table
                        :data="faqData"
                        style="width: 100%">
                        <el-table-column
                            sortable
                            property="blank"
                            label=""
                            width="10">
                        </el-table-column>
                        <el-table-column
                            sortable
                            property="id"
                            label="No."
                            width="70">
                        </el-table-column>
                        <el-table-column
                            sortable
                            property="askCreateDate"
                            label="등록일자"
                            width="100">
                        </el-table-column>
                        <el-table-column
                            sortable
                            property="memberName"
                            label="사용자명"
                            width="100">
                        </el-table-column>
                        <el-table-column
                            property="publicType"
                            label="공개여부"
                            width="80">
                        </el-table-column>
                        <el-table-column
                            property="askContent"
                            label="문의내용"
                            width="320">
                        </el-table-column>
                        <el-table-column
                            property="comment"
                            label="문의답변"
                            width="250">
                        </el-table-column>
                        <el-table-column
                            property="Operations"
                            label="">
                            <template slot-scope="scope">
                                <el-button
                                    class="board-update-button"
                                    @click.native.prevent="putDocument(faqData[scope.$index].id)"><i class="board-ok-text">수정</i></el-button>
                                <el-button
                                    class="board-update-button"
                                    @click.native.prevent="delFaqData(faqData[scope.$index].id)"><i class="board-update-button-text">삭제</i></el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                <div class="ask-pagination">
                    <el-pagination class="page-number"
                        small
                        layout="prev, pager, next"
                        :total="totalCount"
                        :current-page="currentPage"
                        @current-change="setPage"
                    >
                    </el-pagination>
                </div>
            </div>
        </section>
    </div>
</template>


<script>
export default {
    data() {
        return {
            search:'',
            faqData: [],
            currentPage: 1,
            totalCount: 0,
        }
    },
    methods: {
        setPage(currentPage) {
            this.currentPage = currentPage
            this.getFaqList()
        },
        getFaqList() {
            let payload = {
                pageNum: this.currentPage,
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$faqConstants.DO_FAQ_LIST_PAGING, payload)
                .then((res) => {
                    this.faqData = res.data.list
                    this.totalCount = res.data.totalCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    console.log(res.data.list)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        putDocument(documentId) {
            let linkBaseUrl = '/board/faq/edit/'
            this.$router.push(`${linkBaseUrl}${documentId}`)
        },
        handleEdit(index, row) {
            console.log(index, 1);
        },
        delFaqData(id) {
            if (confirm('정말 삭제하시겠습니까?')) { // javascript confirm 검색하기
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$faqConstants.DO_FAQ_DELETE, {id: id})
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        this.getFaqList()
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },
    },
    created() {
        this.getFaqList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD_ASK')
    }
}
// export const tableData = (str, length = 10) => {
//     let result = '';
//     if (str.length > length) {
//         result = str.substr(0, length - 2) + '...';
//     } else {
//         result = str;
//     }
//     return result;
// };
//
// tableData('카드 설정 후 메인 카드 변경이\n안되네요 확인해주세요')
</script>
